.footer {
    background-color: $rosa;
    padding: $separacion / 4;
    text-align: center;

    p {
        color: $blanco;
        margin: 0; // todos los parrafos tienen un margin por default
    }
}